body {
    color: white;
    background-image: url("../images/bg xur.png")
  }
  
  header {
    background: #131d1f;
    font-weight: bold;
    color: white;
    padding: 7px 20px;
    font-weight: 800;
    margin-bottom: 15px;
  }
  
  h1 {
    font-weight: 800;
  }
  
  main {
    width: 800px;
    margin: 0 auto;
  }
  
 
  
  #cart {
    border: 1px solid #333;
    padding: 25px;
    width: 650px;
    background: #dfe3e6;
    margin-bottom: 10px;
  }
  
  

  
  #clear {
    background: #40bcd9;
    padding: 5px 20px;
    color: white;
    font-size: 1.2em;
  }
  